/*
 * iOS control center and notification pull down example.
 */
.ios-example {
    position: relative;
    width: 320px;
    height: 568px;
    margin: auto;
    overflow: hidden;
}

.ios-example .box {
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.ios-example .backdrop {
    background-image: url(img/ios-home.jpg);
}
.ios-example .control-center {
    background-image: url(img/ios-control-center.png);
    background-color: rgba(190, 190, 190, 0.8);
    background-position-y: top;
}

.ios-example .menu {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    font-size: 18px;
    color: white;
}

.ios-example .menu>.calendar {
    width: 100%;
    height: 340px;
    border-radius: 4px;
    background-color: rgb(80, 80, 200);
    color: white;
    text-shadow: 0px 1px 1px black;
    font-size: 12px;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

.ios-example .menu::after {
    content: ' ';
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(180, 180, 180);
    bottom: 20px;
    left: 0;
    position: absolute;
}

.ios-example .control-sensor, .ios-example .menu-sensor {
    pointer-events: auto;
}


/*
 * iOS app switcher UI
 */
.app-switcher-example {
    position: relative;
    width: 320px;
    height: 568px;
    margin: auto;
    overflow: hidden;

    background-image: url(img/wallpaper.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.app-switcher-example .icon-listener {
    position: absolute;
    height: 150px;
    width: 100%;
    bottom: 0;
}

.app-switcher-example .app {
    border-radius: 0px;
}
