.androidwear>div {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
}
.androidwear .watch {
    display: inline-block;
    position: relative;
    margin: 20px 10px;

    width: 240px;
    height: 240px;

    overflow: hidden;
    background-image: url('wear-home.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.androidwear .watch>.menu {
    position: absolute;
    top: 0; left: 0; bottom: 0; width: 480px;
    margin-bottom: 0;

    background-image: url('wear-menu.png');
    background-size: 240px 240px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: white;

}
