.dialogs {
    overflow: hidden;
}
.dialogs>.controls {
    /*
     * The WebKit compositor will promote the controls to a composited layer when the dialog goes
     * underneath them. This causes the controls to be redrawn and results in dropped frames. So
     * just tell it to always make the controls be composited to avoid the frame loss. Note that
     * even when WebKit/Blink automatically promote the controls, they still get the z-order
     * wrong (maybe because the controls don't form a CSS stacking context without this?).
     */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.dialog {
    display: inline-block;
    margin: 10px;
    width: 300px;
    background-color: white;
    color: black;
    border-radius: 10px;
    box-shadow: 0 2px 4px black;
}
.dialog.squishy {
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
.dialog>div {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.dialog>.dialog-button {
    border: 2px solid black;
    border-radius: 50px;
}
.dialog>.dialog-button:active {
    background-color: black;
    color: white;
}
