body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    font-size: 22px;
}
.content {
    margin: 40px 10%;
}
.constraints {
    padding: 20px 10%;
    margin-bottom: 10px;
    background-color: #ededed;
}
.title {
    font-weight: bold;
    font-size: 48;
    margin-bottom: 20px;
}
.subtitle {
    font-size: 18px;
}
.embed {
    padding-top: 10px;
    height: 550px;
}
img {
    display: inline-block;
    max-width: 25vw;
}
li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.example {
    box-sizing: border-box;
    width: 100%;
    background-color: #ddd;
    color: black;
    border: none;
    padding: 10px;
    overflow: hidden;
    text-align: center;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
